*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    
}

header {
    background-color: #000003;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header img{
    width: 100%;
}

.Logo{
    width: 100px;
    height: 100%;
    display: flex;
    float: left;
}

nav {
    position: absolute;
    top: 0px;
    background-color: black;
    width: 100%;
    height: 75px;
}

nav ul {
    padding: 25px;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
    text-transform: uppercase;
}

nav a:hover {
    color: #26bf12;
}

main {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(2, 123, 81, 0.324);
    border-radius: 20px;
}

.cadastro{
    margin-bottom: 100px;
}

h2{
    width: 100%;
    background-color: #1b1b1b;
    color: #f4f4f4;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    background-image: radial-gradient(circle at 50% 50%, #328a2a 0, #256b21 16.67%, #175116 33.33%, #093a0d 50%, #002301 66.67%, #000e01 83.33%, #000000 100%);
    padding: 10px 0;
    margin: 10px 0 20px 0;
}


label {
    font-weight: bold;
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botoes {
    display: flex;
    justify-content: start;
    gap: 10px; /* EspaĆ§o entre os botĆµes */
}

.botoes input[type="submit"] {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    border: 1px solid #0693df;
    color: rgb(0, 106, 255);
}

.botoes input[type="submit"]:hover {
    box-shadow: 0 0 40px 40px #0693df inset;
    color: #ccc;
}

.botoes input[type="submit"], .botoes input[type="reset"], .botoes input[type="button"] {
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.botoes input[type="reset"] {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    border: 1px solid #28a745;
    color: rgb(51, 255, 0);
}

.botoes input[type="reset"]:hover {
    box-shadow: 0 0 40px 40px #28a745 inset;
    color: #ccc;
}

.botoes input[type="button"] {
    background-color: green; 
    color: #fff;
}

.botoes input[type="button"]:hover {
    background-color: #218838; 
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td, tr {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    text-align: center;
}

tr:hover {
    background-color:rgb(203, 221, 235);
    border: 1px solid #000;
}

td a {
    color: #007BFF;
    margin-right: 10px;
}

td a:hover {
    text-decoration: underline;
}

#td_centro{
    text-align: center;
}